<h1>Icons:</h1>

<h2>Material Design Icons</h2>

<div>
  <ic-icon icon="home"></ic-icon>
  <ic-icon [icon]="homeIcon" color="blue"></ic-icon>
</div>

<div>
  <p>String Based: <ic-icon icon="home" color="blue"></ic-icon></p>
  <p>Object Based: <ic-icon [icon]="homeIcon" color="blue"></ic-icon></p>
</div>

<div>
  <ic-icon [icon]="homeIcon" height="48px" width="48px"></ic-icon>
  <ic-icon [icon]="homeIcon" color="green" height="48px" width="48px"></ic-icon>
</div>

<div>
  <p style="font-size: 36px">Inline Icon:
    <ic-icon [icon]="homeIcon" [inline]="true" height="1em" width="1em"></ic-icon>
  </p>
  <p style="font-size: 24px">Inline Icon:
    <ic-icon [icon]="homeIcon" [inline]="true" height="1em" width="1em"></ic-icon>
  </p>
  <p style="font-size: 16px">Inline Icon:
    <ic-icon [icon]="homeIcon" [inline]="true" height="1em" width="1em"></ic-icon>
  </p>
  <p style="font-size: 12px">Inline Icon:
    <ic-icon [icon]="homeIcon" [inline]="true" height="1em" width="1em"></ic-icon>
  </p>
</div>

<h3>Rotate</h3>

<div>
  <ic-icon [icon]="homeIcon" height="48px" width="48px"></ic-icon>
  <ic-icon [icon]="homeIcon" height="48px" rotate="1" width="48px"></ic-icon>
  <ic-icon [icon]="homeIcon" height="48px" rotate="2" width="48px"></ic-icon>
  <ic-icon [icon]="homeIcon" height="48px" rotate="3" width="48px"></ic-icon>
</div>

<h3>Transform</h3>

<div>
  <ic-icon [icon]="groupAddIcon" height="48px" width="48px"></ic-icon>
  <ic-icon [hFlip]="true" [icon]="groupAddIcon" height="48px" width="48px"></ic-icon>
</div>

<div>
  <ic-icon [icon]="groupAddIcon" height="48px" width="48px"></ic-icon>
  <ic-icon [icon]="groupAddIcon" [vFlip]="true" height="48px" width="48px"></ic-icon>
</div>

<h2>Font Awesome</h2>

<div>
  <ic-icon [icon]="bellSlashIcon"></ic-icon>
  <ic-icon [icon]="bellSlashIcon" color="blue"></ic-icon>
</div>


<div>
  <ic-icon [icon]="bellSlashIcon" height="48px" width="48px"></ic-icon>
  <ic-icon [icon]="bellSlashIcon" color="green" height="48px" width="48px"></ic-icon>
</div>

<div>
  <p style="font-size: 36px">Inline Icon:
    <ic-icon [icon]="bellSlashIcon" [inline]="true" height="1em" width="1em"></ic-icon>
  </p>
  <p style="font-size: 24px">Inline Icon:
    <ic-icon [icon]="bellSlashIcon" [inline]="true" height="1em" width="1em"></ic-icon>
  </p>
  <p style="font-size: 16px">Inline Icon:
    <ic-icon [icon]="bellSlashIcon" [inline]="true" height="1em" width="1em"></ic-icon>
  </p>
  <p style="font-size: 12px">Inline Icon:
    <ic-icon [icon]="bellSlashIcon" [inline]="true" height="1em" width="1em"></ic-icon>
  </p>
</div>

<h3>Rotate</h3>

<div>
  <ic-icon [icon]="bellSlashIcon" height="48px" width="48px"></ic-icon>
  <ic-icon [icon]="bellSlashIcon" height="48px" rotate="1" width="48px"></ic-icon>
  <ic-icon [icon]="bellSlashIcon" height="48px" rotate="2" width="48px"></ic-icon>
  <ic-icon [icon]="bellSlashIcon" height="48px" rotate="3" width="48px"></ic-icon>
</div>

<h3>Transform</h3>

<div>
  <ic-icon [icon]="bellSlashIcon" height="48px" width="48px"></ic-icon>
  <ic-icon [hFlip]="true" [icon]="bellSlashIcon" height="48px" width="48px"></ic-icon>
</div>

<div>
  <ic-icon [icon]="bellSlashIcon" height="48px" width="48px"></ic-icon>
  <ic-icon [icon]="bellSlashIcon" [vFlip]="true" height="48px" width="48px"></ic-icon>
</div>

<h3>Directive</h3>

<div [icIcon]="bellSlashIcon"></div>
